---
sidebar_position: 7
title: Test Run
sidebar_label: Test Run
slug: /test_run
sidebar_custom_props: {
  categoryIcon: RagAiAgent
}
---

# Test Run

On the pipeline canvas, click **Run** to upload a sample file and view step-by-step results.

![Test Run](https://raw.githubusercontent.com/infiniflow/ragflow-docs/main/images/test_run.jpg)
