@import '../../theme/vars';

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);

  .leftContainer {
    width: 400px;
    max-width: 90vw;
  }

  .loginTitle {
    font-size: 38px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0em;
    height: 80px;
    margin-bottom: 69px;

    span {
      font-size: 16px;
      line-height: 24px;
    }
  }

  @media screen and (max-width: 957px) {
    .modal {
      width: 80%;
    }
  }
}
