@import '../../theme/vars';

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  height: 100vh;

  .loginContainer {
    width: 450px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .loginTitle {
    font-size: 38px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0em;
    margin-bottom: 40px;
    text-align: center;

    span {
      font-size: 16px;
      line-height: 24px;
      display: block;
      margin-top: 8px;
      color: #666;
    }
  }

  @media screen and (max-width: 500px) {
    .loginContainer {
      width: 90%;
      padding: 20px;
    }
  }
}
