#ragflow {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
}

#ragflow .window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
}
#ragflow #output {
  position: absolute;
}