.uploadWrapper {
  padding: 32px;
  .backToList {
    padding-bottom: 60px;
  }
}

.progressWrapper {
  text-align: center;
}

.progress {
  width: 50%;
  margin: 0;
}

.selectFilesText {
  transform: translateX(10%);
}
.changeSpecificCategoryText {
  transform: translateX(30%);
}
