.systemInfo {
  width: 100%;
  .title {
    font-size: 20px;
    font-weight: 600;
  }
  .text {
    height: 26px;
    line-height: 26px;
  }
  .badge {
    :global(.ant-badge-status-dot) {
      width: 10px;
      height: 10px;
    }
  }
  .error {
    color: red;
  }
}

.taskBarTooltip {
  font-size: 16px;
}

.taskBar {
  width: '100%';
  height: 200px;
}

.taskBarTitle {
  font-size: 16px;
}
