.chatContainer {
  padding: 0 24px 24px;
  .messageContainer {
    overflow-y: auto;
  }
}

.messageItem {
  padding: 24px 0;
  .messageItemSection {
    display: inline-block;
  }
  .messageItemSectionLeft {
    width: 80%;
  }
  .messageItemSectionRight {
    width: 20%;
  }
  .messageItemContent {
    display: inline-flex;
    gap: 20px;
  }
  .messageItemContentReverse {
    flex-direction: row-reverse;
  }
  .messageText {
    padding: 10px 14px;
    background-color: rgba(249, 250, 251, 1);
  }
}

.messageItemLeft {
  text-align: left;
}

.messageItemRight {
  text-align: right;
}
