.chatContainer {
  padding: 0 24px 24px;
  .messageContainer {
    overflow-y: auto;
  }
}

.messageItem {
  .messageItemContent {
    display: inline-block;
    width: 400px;
  }
}

.messageItemLeft {
  text-align: left;
}

.messageItemRight {
  text-align: right;
}
