.messageItem {
  padding: 24px 0;
  .messageItemSection {
    display: inline-block;
  }
  .messageItemSectionLeft {
    width: 80%;
  }
  .messageItemContent {
    display: inline-flex;
    gap: 20px;
  }
  .messageItemContentReverse {
    flex-direction: row-reverse;
  }

  .messageTextBase() {
    border-radius: 8px;
    & > p {
      margin: 0;
    }
  }
  .messageText {
    .chunkText();
    .messageTextBase();
    background-color: #2f78e5;
    word-break: break-word;
    color: #fff;
    border-radius: 16px 16px 16px 0;
  }
  .messageTextDark {
    .chunkText();
    .messageTextBase();
    background-color: #1668dc;
    word-break: break-word;
    :global(section.think) {
      color: rgb(166, 166, 166);
      border-left-color: rgb(78, 78, 86);
    }
  }
  .messageUserText {
    .chunkText();
    .messageTextBase();
    background-color: #f0f3f5;
    word-break: break-word;
    text-align: justify;
    border-radius: 16px 16px 0 16px;
  }
  .messageEmpty {
    width: 300px;
  }

  .thumbnailImg {
    max-width: 20px;
  }
}

.messageUserText,
.messageText {
  .messageCommon();
}

.messageItemLeft {
  text-align: left;
}
.messageItemRight {
  text-align: right;
}
