[infiniflow]
es=http://es01:9200
postgres_user=root
postgres_password=infiniflow_docgpt
postgres_host=postgres
postgres_port=5432
minio_host=minio:9000
minio_user=infiniflow
minio_password=infiniflow_docgpt
