.datasetWrapper {
  padding: 30px;
  flex: 1;
}

.filter {
  height: 32px;
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 24px 20px;

  //   .search {
  //     flex: 1;
  //   }

  //   .operate {
  //     width: 200px;
  //   }
}

.img {
  height: 16px;
  width: 16px;
  margin-right: 6px;
}

.column {
  min-width: 200px;
}

.tochunks {
  cursor: pointer;
}
