imagePullSecrets: []
env:
  DOC_ENGINE: infinity
  STACK_VERSION: 8.11.3
  TZ: Asia/Shanghai
  DOC_BULK_SIZE: 4
  EMBEDDING_BATCH_SIZE: 16
externalServices:
  redis:
    enabled: false
    host: 'redis:6379'
    password: 'password'
    db: 1
  mysql:
    enabled: false
    name: 'rag_flow'
    user: 'root'
    password: 'password'
    host: 'mysql'
    port: 3306
    max_connections: 900
    stale_timeout: 300
    max_allowed_packet: 1073741824
  s3:
    enabled: false
    access_key: ''
    secret_key: ''
    session_token: ''
    region_name: ''
    endpoint_url: ''
    bucket: ''
    prefix_path: ''
    signature_version: ''
    addressing_style: ''
  elasticsearch:
    enabled: false
    hosts: 'http://elasticsearch:9200'
    username: 'elastic'
    password: 'password'
ragflow:
  image:
    repository: infiniflow/ragflow
    tag: v0.21.1-slim
    pullPolicy: IfNotPresent
    pullSecrets: []
  service_conf: null
  llm_factories: null
  frontend:
    replicaCount: 2
    deployment:
      strategy: null
      resources:
        limits:
          cpu: 500m
          memory: 500Mi
        requests:
          cpu: 200m
          memory: 200Mi
    podAnnotations: {}
    probes: {}
    service:
      type: ClusterIP
      port: 80
  api:
    debug: false
    replicaCount: 2
    deployment:
      strategy: null
      resources:
        limits:
          cpu: '1'
          memory: 2Gi
        requests:
          cpu: 500m
          memory: 1Gi
    podAnnotations: {}
    extraEnv: []
    extraArgs: []
    probes: {}
    service:
      type: ClusterIP
      port: 80
  worker:
    replicaCount: 2
    deployment:
      strategy: null
      resources:
        limits:
          cpu: '2'
          memory: 4Gi
        requests:
          cpu: '1'
          memory: 2Gi
    podAnnotations: {}
    consumerRange:
      enabled: false
      begin: 0
    extraArgs: []
    extraEnv: []
    probes: {}
  admin:
    enabled: false
    debug: false
    replicaCount: 1
    deployment:
      strategy: null
      resources:
        limits:
          cpu: '1'
          memory: 2Gi
        requests:
          cpu: 500m
          memory: 1Gi
    podAnnotations: {}
    extraArgs: []
    extraEnv: []
    probes: {}
    service:
      type: ClusterIP
      port: 80
  mcp:
    enabled: false
    replicaCount: 1
    deployment:
      strategy: null
      resources:
        limits:
          cpu: '1'
          memory: 1Gi
        requests:
          cpu: '1'
          memory: 1Gi
    podAnnotations: {}
    mode: self-host
    hostApiKey: ''
    transport:
      sse: true
      streamableHttp: true
      jsonResponse: true
    extraArgs: []
    extraEnv: []
    probes: {}
    service:
      type: ClusterIP
      port: 80
infinity:
  image:
    repository: infiniflow/infinity
    tag: v0.6.2
    pullPolicy: IfNotPresent
    pullSecrets: []
  storage:
    className: null
    capacity: 5Gi
  deployment:
    strategy: null
    resources: null
  service:
    type: ClusterIP
elasticsearch:
  credentials:
    username: elastic
    password: infini_rag_flow_helm
  image:
    repository: elasticsearch
    tag: 8.11.3
    pullPolicy: IfNotPresent
    pullSecrets: []
  initContainers:
    alpine:
      repository: alpine
      tag: latest
      pullPolicy: IfNotPresent
    busybox:
      repository: busybox
      tag: latest
      pullPolicy: IfNotPresent
  storage:
    className: null
    capacity: 20Gi
  deployment:
    strategy: null
    resources:
      requests:
        cpu: '4'
        memory: 16Gi
  service:
    type: ClusterIP
opensearch:
  image:
    repository: opensearchproject/opensearch
    tag: 2.19.1
    pullPolicy: IfNotPresent
    pullSecrets: []
  initContainers:
    alpine:
      repository: alpine
      tag: latest
      pullPolicy: IfNotPresent
    busybox:
      repository: busybox
      tag: latest
      pullPolicy: IfNotPresent
  storage:
    className: null
    capacity: 20Gi
  deployment:
    strategy: null
    resources:
      requests:
        cpu: '4'
        memory: 16Gi
  service:
    type: ClusterIP
minio:
  credentials:
    user: rag_flow
    password: infini_rag_flow_helm
  image:
    repository: quay.io/minio/minio
    tag: RELEASE.2023-12-20T01-00-02Z
    pullPolicy: IfNotPresent
    pullSecrets: []
  storage:
    className: null
    capacity: 5Gi
  deployment:
    strategy: null
    resources: null
  service:
    type: ClusterIP
mysql:
  credentials:
    name: rag_flow
    user: root
    password: infini_rag_flow_helm
  image:
    repository: mysql
    tag: 8.0.39
    pullPolicy: IfNotPresent
    pullSecrets: []
  storage:
    className: null
    capacity: 5Gi
  deployment:
    strategy: null
    resources: null
  service:
    type: ClusterIP
redis:
  credentials:
    password: infini_rag_flow_helm
    db: 1
  image:
    repository: valkey/valkey
    tag: 8
    pullPolicy: IfNotPresent
    pullSecrets: []
  storage:
    className: null
    capacity: 5Gi
  persistence:
    enabled: true
  deployment:
    strategy: null
    resources: null
  service:
    type: ClusterIP
ingress:
  enabled: false
  className: ''
  annotations: {}
  hosts:
  - host: chart-example.local
    paths:
    - path: /
      pathType: Prefix
      backend:
        component: frontend
        port: http
    - path: /api
      pathType: Prefix
      backend:
        component: api
        port: http
    - path: /v1
      pathType: Prefix
      backend:
        component: api
        port: http
  tls: []
