.documentContainer {
  width: 100%;
  height: calc(100vh - 284px);
  //   overflow-y: auto;
  //   overflow-x: hidden;
  position: relative;
  :global(.PdfHighlighter) {
    overflow-x: hidden;
    // left: 0;
  }
}
