.image {
  width: 100px !important;
  min-width: 100px;
}

.imagePreview {
  width: 600px;
}

.content {
  flex: 1;
  .chunkText;
}

.chunkCard {
  width: 100%;
}

.cardSelected {
  background-color: @selectedBackgroundColor;
}
